body{
    background-color: rgb(230, 123, 123);
    margin-left: 50px;
}
.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-right: 40px;
}

.first{
    display: flex;
    flex-direction: column;
    gap: .6vw;
    
}
input{
 width: clamp(1% ,18vw,300px);
 height: 30px;
 opacity: 50%;
}
img{
    width: 40vw;
    height: 1000px;
}
form{
    display: flex;
    gap:130px;
    margin-top: 50px;
    width: clamp(30px ,45vw,900px);
    height: 400px;
    background-color: rgb(165, 90, 90);
   
    
    
    
}
.fl,.fr{
   margin-top: 30px;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.right{
    margin-left: 60px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: clamp(20vw ,60vw,50%);
}
p{
    font-size: clamp(.2rem,1.4rem,5rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
label{
    font-size: 20px;
    font-weight: bold;
}
.login{
    display: flex;
    gap: .5rem;
}
a{
font-size: clamp(.2rem,1.4rem,5rem);
margin-top: 20px;
color: rgb(14, 3, 114);

}
button{
    height: 6vh;
    width: 10vw;
    background-color: rgb(165, 90, 90);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.left{

    position: relative;
    text-align: center;

}
.text {
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 150px;
    opacity: 50%;
    
  }
  #email:valid , #password:valid ,#confirm:valid , #number:valid , #lname:valid ,#fname:valid{
    border-color: rgb(77, 134, 2);
}
#email:invalid , #password:invalid ,#confirm:invalid , #number:invalid{
    border-color: rgb(143, 5, 5);
}
.submit{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 15px;
    background-color: antiquewhite;
    color: brown;
    font-weight: 2000;
}